.typewriter h1 {
    border-right: .15em solid var(--caret);
}

.typewriter {
    --caret: currentcolor;
}

.typewriter::before {
    content: "";
    animation: typing 1s forwards;
}

.typewriter::after {
    content: "";
    border-right: 1.5rem solid var(--caret);
    margin-left: .5rem;
    animation: blink 1.5s steps(2) infinite;
}

@keyframes typing {
    0% {
        content: "";
    }

    8% {
        content: "b";
    }

    16% {
        content: "bi";
    }

    25% {
        content: "bin";
    }

    33% {
        content: "bina";
    }

    41% {
        content: "binar";
    }

    50% {
        content: "binary";
    }

    58% {
        content: "binary ";
    }

    66% {
        content: "binary t";
    }

    75% {
        content: "binary ti";
    }

    83% {
        content: "binary tim";
    }

    91% {
        content: "binary time";
    }

    100% {
        content: "binary timer";
    }
}

@keyframes blink {

    0% {
        opacity: 0;
    }
}

@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }
}