.button {
  height: 4.5rem;
  width: 4.5rem;
  margin-left: .25rem;
  margin-right: .25rem;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  transition: .2s linear;
}

.hovered,
.selected {
  background-color: var(--primary-color);
}

.button:first-child {
  margin-left: .75rem;
}

.button:last-child {
  margin-right: .75rem;
}