:root {
    --icon-button-color: #666;
    --icon-button-light-color: #fff;
    --icon-button-dark-color: #000;
}

.icon {
    color: var(--icon-button-color);
    background-color: transparent;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    margin: .5rem 1rem;
    cursor: pointer;
    width: fit-content;
    transition: .2s linear;

    &:hover {
        color: var(--icon-button-light-color);
        transform: scale(1.5);
    }

    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    &:last-child {
        margin-right: 0;
    }
}

@media (prefers-color-scheme: light) {
    .icon {
        &:hover {
            color: var(--icon-button-dark-color);
        }
    }
}