@import 'tailwindcss';

:root {
  --primary-color: #21a1f1;
  --secondary-color: #61dafb;
  --foreground-color: #ffffffde;
  --background-color: #242424;
  --link-color: #78c8ff;
  --link-active-color: #a4dcff;

  color-scheme: light dark;
  color: var(--foreground-color);
  background-color: var(--background-color);

  font-size: 1em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: .2s linear;

  &:hover {
    color: var(--link-active-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-color);
    background-color: var(--foreground-color);
    --link-color: #0969a5;
    --link-active-color: #075483;
  }
}

@media (max-width: 1023px) {
  :root {
    font-size: 1em;
  }

  #root {
    min-width: 0;
    width: 100%;
  }
}

@media (min-width: 1472px) {
  :root {
    font-size: 1.25em;
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 1.5em;
  }
}

@media (min-width: 2368px) {
  :root {
    font-size: 2em;
  }
}